# Spotify — https://developer.spotify.com/dashboard
# Redirect URI : http://localhost:3000/callback
SPOTIFY_CLIENT_ID=votre_client_id_spotify
# Optionnel si l'app Spotify est "Confidential" :
SPOTIFY_CLIENT_SECRET=

# Deezer — https://developers.deezer.com/myapps
# Redirect URL : http://localhost:3000/callback
DEEZER_APP_ID=votre_app_id_deezer

VITE_SUPABASE_URL=https://xuvtujchhchdvimtkyix.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_ANON_KEY=